.tablet-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #FFFCFA;
}
 
.tablet-tablet {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #FFFCFA;
}
 
.tablet-headersection {
  gap: 10px;
  display: flex;
  padding: 48px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.tablet-logogreen1 {
  width: 400px;
  height: 42px;
}
 
.tablet-main {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.tablet-registrysection {
  gap: 10px;
  height: 747px;
  display: flex;
  padding: 232px 80px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFCFA;
}
 
.tablet-text1 {
  color: rgba(51, 92, 93, 1);
  width: 620px;
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
 
.tablet-text2 {
  font-weight: 700;
}
 
.tablet-text4 {
  text-decoration: NONE;
}
 
.tablet-link {
  display: contents;
}
 
.tablet-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.tablet-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.tablet-text6 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
